## Các khái niệm cơ bản trong python


* Các kiểu dữ liệu
    1. Numbers
    2. Strings
    3. Booleans
    4. Tuples
    5. Lists
    6. Dictionaries  
    7. Sets
* Các toán tử so sánh
* Các câu lệnh if, elif, else
* Vòng lặp for
* Vòng lặp while
* list comprehension
* Hàm
* map and filter

____

## Kiểu dữ liệu

### 1. Numbers

In [4]:
3+5

8

In [5]:
2*3

6

In [6]:
2 ** 3

8

In [7]:
5 / 2

2.5

In [8]:
5 // 2

2

In [9]:
5 % 2

1

### Variable Assignment

In [10]:
my_var = 2

In [11]:
my_var

2

In [12]:
x = 2

In [13]:
y= my_var + x
y

4

### 2. Strings

In [14]:
Hello World # không thể đọc một đoạn text

SyntaxError: invalid syntax (961555472.py, line 1)

In [15]:
"Hello World"

'Hello World'

In [124]:
ID = 1234
Name = "DuyThanh"

In [125]:
print('ID là {}, tên là: {}'.format(ID,Name))

ID là 1234, tên là: DuyThanh

In [18]:
my_string = 'Hellow world, I am learning #ML'

In [19]:
my_string.lower()

'hellow world, i am learning #ml'

In [20]:
my_string.upper()

'HELLOW WORLD, I AM LEARNING #ML'

In [21]:
my_string.split()

['Hellow', 'world,', 'I', 'am', 'learning', '#ML']

In [22]:
my_string.split('#')

['Hellow world, I am learning ', 'ML']

In [23]:
# sử dụng "in" 
'x' in [1,2,3]

False

In [24]:
'x' in ['x','y','z']

True

### 3. Booleans

In [25]:
x=True

In [26]:
x

True

In [27]:
False

False

In [28]:
x = True
print(x)

y = 1 == 1
print(y)

True
True

In [29]:
x = False
print(x)

y = 9 == 0
print(y)

False
False

### 4. Tuples

In [30]:
# tuple sử dụng cặp dấu ngoặc đơn ''()''
t = (1,2,3)

In [31]:
t

(1, 2, 3)

In [32]:
# lấy phần tử trong tuple
t[0]

1

In [33]:
# trong tuple các giá trị là không thể thay đổi -> không thể gán giá trị mới
t[0] = 10

TypeError: 'tuple' object does not support item assignment

### 5. Lists

In [34]:
# list sử dụng cặp dấu ngoặc '[]'
[1,2,3]

[1, 2, 3]

In [35]:
my_list = ['Hello World',100,[1,"2",3], (1,"2",3)]  
my_list

['Hello World', 100, [1, '2', 3], (1, '2', 3)]

* Lưu ý rằng các số nguyên 1 và 3 trong danh sách trên sẽ không bị ép kiểu thành chuỗi
* Trong list có thể chứa nhiều loại kiểu dữ liệu khác nhau

#### trích xuất các phần tử của list

In [36]:
my_list

['Hello World', 100, [1, '2', 3], (1, '2', 3)]

In [37]:
my_list[0]

'Hello World'

In [38]:
my_list[2]

[1, '2', 3]

In [39]:
my_list[2][1]

'2'

In [40]:
my_list[2][-1]  # truy xuất phần tử cuối.

3

In [41]:
# bát đầu từ chỉ số thứ nhất (phần tử thứ 2), không lấy phần tử có chỉ số thứ 3 (lấy đế trước nó)
my_list[1:3]  # starting from index 1 (the second element) and NOT including index 3 (the forth element)

[100, [1, '2', 3]]

In [42]:
my_list[1:]  # lấy từ chỉ số thứ nhất đến hết

[100, [1, '2', 3], (1, '2', 3)]

In [43]:
my_list[:2]  # lấy từ phần tử có chỉ số là 0 đến 2 (không bao gồm nó)

['Hello World', 100]

In [44]:
my_list[0] = 'NEW variable'  # không giống tuple, các phần tử trong list có thể thay đổi

In [45]:
my_list

['NEW variable', 100, [1, '2', 3], (1, '2', 3)]

#### Thêm phần tử vào list
using append()

In [46]:
my_list.append('new string 1')

In [47]:
my_list

['NEW variable', 100, [1, '2', 3], (1, '2', 3), 'new string 1']

#### Xoá các phần tử ra khỏi list
Sử dụng clear(), pop(), remove() và del. 
* Xoá toàn bộ: clear()
* Xoá phần tử theo chỉ mục và lấy giá trị đó: pop()
* Xoá bằng giá trị chỉ định: remove()
* Xoá theo chỉ mục hoặc lắt cắt (slice): del

In [48]:
l1 = my_list.copy()
l2 = my_list.copy()
l3 = my_list.copy()
l4 = my_list.copy()

In [49]:
l1

['NEW variable', 100, [1, '2', 3], (1, '2', 3), 'new string 1']

In [50]:
l1.clear()
l1

[]

In [51]:
l2

['NEW variable', 100, [1, '2', 3], (1, '2', 3), 'new string 1']

In [52]:
l2.pop(0)

'NEW variable'

In [53]:
l2

[100, [1, '2', 3], (1, '2', 3), 'new string 1']

In [54]:
l3

['NEW variable', 100, [1, '2', 3], (1, '2', 3), 'new string 1']

In [55]:
l3.remove('new string 1')

In [56]:
l3

['NEW variable', 100, [1, '2', 3], (1, '2', 3)]

In [57]:
l4

['NEW variable', 100, [1, '2', 3], (1, '2', 3), 'new string 1']

In [58]:
del l4[0]
l4

[100, [1, '2', 3], (1, '2', 3), 'new string 1']

In [59]:
del l4[1:]
l4

[100]

### 6. Dictionaries - kiểu từ điển

Dấu ngoặc nhọn và dấu hai chấm { 'key1' : value1 , 'key2' : value2 , ...} được sử dụng cho từ điển. Bạn có thể sử dụng các khóa (chứ không phải chỉ mục) để trích xuất thông tin

Từ điển không giữ lại bất kỳ thứ tự nào! rất hữu ích khi bạn không muốn trích xuất thông tin dựa trên số chỉ mục

In [60]:

my_dict = {'key1':'value1','key2':[1,2,3,4]}

In [61]:
my_dict

{'key1': 'value1', 'key2': [1, 2, 3, 4]}

In [62]:
my_dict[1] # không thể truy cập với chỉ mục

KeyError: 1

In [63]:
my_dict['key2']

[1, 2, 3, 4]

In [64]:
my_dict['key2'][2]

3

In [65]:
my_dict.keys()

dict_keys(['key1', 'key2'])

In [66]:
my_dict.items()

dict_items([('key1', 'value1'), ('key2', [1, 2, 3, 4])])

In [67]:
my_dict.values()

dict_values(['value1', [1, 2, 3, 4]])

### 7. Sets - tập hợp
- Set là tập hợp các phần tử duy nhất
- để xác định một tập hợp, chúng ta có thể sử dụng dấu ngoặc nhọn {} hoặc hàm set()

In [68]:

{1,2,3}

{1, 2, 3}

In [69]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

In [70]:
set([1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2])

{1, 2, 3}

In [71]:
my_set={1,2,3}

In [72]:
my_set.remove(2)
my_set

{1, 3}

In [73]:
my_set.add(4)
my_set

{1, 3, 4}

## Các toán tử so sánh

In [74]:
2 > 1

True

In [75]:
2 < 1

False

In [76]:
4 <= 4

True

In [77]:
2 == 2

True

In [78]:
'BUY' == 'BUY'

True

In [79]:
'BUY' == 'buy'

False

In [80]:
'buy' != 'sell'

True

In [81]:
(1 > 2) and (2 < 3) # tất cả điều kiện phải dúng

False

In [82]:
(1 > 2) or (2 < 3)  # chỉ cần đúng một trong hai điều kiện

True

In [83]:
(1 == 2) or (2 == 3) or (4 == 4)

True

## Các câu lệnh if,elif, else

In [84]:
# if condition :  action

In [85]:
if 1 < 2:                      
    print('condition is true')

condition is true

In [86]:
if 1 < 2:
    print('consition is true')
else:
    print('condition is false')

consition is true

In [87]:
if 1 > 2:
    print('consition is true')
else:
    print('condition is false')

condition is false

In [88]:
if 1 == 2:
    print('first condition is true')
elif 3 == 3:
    print('second condition is true')
else:
    print('last condition is true')

second condition is true

## Vòng lặp

In [89]:
# for item in seq : do something

In [90]:

range(5)

range(0, 5)

In [91]:
list(range(5))

[0, 1, 2, 3, 4]

In [92]:
for item in range(5):
    print(item)

0
1
2
3
4

In [93]:
for item in range(4,10,2):
    print(item)

4
6
8

In [94]:
# giải nén tuple bằng vòng lặp
x= [(1,2),(3,4),(5,6)]

In [95]:
x

[(1, 2), (3, 4), (5, 6)]

In [96]:
for a,b in x:
    print('Phần tử thứ nhất {}, phần tử thứ hai {}'.format(a,b))

Phần tử thứ nhất 1, phần tử thứ hai 2
Phần tử thứ nhất 3, phần tử thứ hai 4
Phần tử thứ nhất 5, phần tử thứ hai 6

##### enumerate()
Rất nhiều lần khi xử lý các trình vòng lặp, chúng ta cũng cần phải giữ **số lần lặp lại**. Python giảm bớt nhiệm vụ của lập trình viên bằng cách cung cấp hàm tích hợp enumerate() cho nhiệm vụ này.

Phương thức enumerate() thêm bộ đếm vào một lần lặp và trả về nó ở dạng đối tượng liệt kê. Đối tượng liệt kê này sau đó có thể được sử dụng trực tiếp trong các vòng lặp for hoặc được chuyển đổi thành một danh sách các bộ bằng cách sử dụng phương thức list().

In [97]:
y= ['item1','item2','item3','item4','item5']

In [98]:
list(enumerate(y))

[(0, 'item1'), (1, 'item2'), (2, 'item3'), (3, 'item4'), (4, 'item5')]

In [99]:
for counter, item in enumerate(y):
    print (counter, item)

0 item1
1 item2
2 item3
3 item4
4 item5

In [100]:
# thay đổi chhir số bộ đếm, bắt đâu từ 1
for counter, item in enumerate(y,start=1):
    print (counter, item)

1 item1
2 item2
3 item3
4 item4
5 item5

## vòng lặp while

In [101]:
# while condition true: do something.

In [102]:
count = 1

while count <= 4:
    print('count is: {}'.format(count))
    count+=1

count is: 1
count is: 2
count is: 3
count is: 4

## list comprehension
Điều này hữu ích cho các **biến đổi có điều kiện**

In [103]:
x = [1,2,3,4,5]

In [104]:
x

[1, 2, 3, 4, 5]

In [105]:
my_list = []  # tạo list rỗng
for i in x:
    my_list.append(i**2+1)
print(my_list)

# chúng ta có thể chuyển vòng lặp này thành một dòng

[2, 5, 10, 17, 26]

In [106]:
[y**2+1 for y in range(1,6)]    #

[2, 5, 10, 17, 26]

## Hàm (function)

In [107]:
# def my_func(inputs): do something

In [108]:
def my_func(x=0):
    """
    thông tin về chức năng của hàm
    """
    print(x+2)

In [109]:
my_func    # sử dụng shift tab để xem thông tin hàm

In [110]:
my_func()

2

In [111]:
my_func(10)

12

## Hàm `map()` và `filter()`

Các phương thức này mong đợi một đối tượng hàm làm đối số đầu tiên. Đối tượng hàm này có thể là một phương thức được xác định trước với một tên (như def add(x,y)).

Các hàm  map() và filter() là những hàm mà ta chỉ sử dụng một lần, do đó, thường không có ích gì khi xác định hàm có thể tham chiếu.

Để tránh xác định một chức năng mới cho các nhu cầu map()/filter() khác nhau - một giải pháp tinh tế hơn sẽ là sử dụng một chức năng ngắn, dùng một lần, ẩn danh mà ta sẽ chỉ sử dụng một lần và không bao giờ sử dụng lại - là biểu thức **lambda** .

## Biểu thưc lambda (hàm ẩn danh)

In [112]:
def power_3(x):  
    return x**3

In [113]:
power_3(2)

8

In [114]:
lambda x: x**3

In [115]:
seq = [1,2,3]

In [116]:
seq

[1, 2, 3]

In [117]:
list(map(power_3,seq))

[1, 8, 27]

In [118]:
list(map(lambda x: x**3,range(1,4)))

[1, 8, 27]

In [119]:
list(filter(lambda x: x>3,range(10)))

[4, 5, 6, 7, 8, 9]

In [120]:
# 
stocks = ['AAPL', 'MSFT', 'AMZN', 'TSLA']
stocks

['AAPL', 'MSFT', 'AMZN', 'TSLA']

In [121]:
# chúng ta muốn xem liệu các cổ phiếu trong danh sách có bắt đầu bằng chữ A hay không
list(map(lambda x : x[0]=='A' , stocks))

[True, False, True, False]

In [122]:
# hoặc chúng ta chỉ muốn chọn những cổ phiếu bắt đầu bằng chữ A và kết thúc bằng 'L'
list(filter(lambda x: x[0]=='A' and x[-1]=='L' , stocks))

['AAPL']

Truyền nhiều đối số cho hàm map

In [123]:
list(map(lambda x,y : x+y , [1,2], [3,4]))

[4, 6]